body{
    margin:0;
    background-color:#061735 ;
    color:rgb(227, 230, 240);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    line-height: 1.6;
}

header h1{
    color:lightcyan;
    border-bottom:2px solid rgb(56, 73, 73);
    padding-bottom: 15px;
}
.container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
}
.bio{
    background-color: #121f36;
    max-width: 500px;
    padding:30px;
    border-radius: 10px;
    margin: 30px 0;
    border: 2px solid;
    border-color: rgb(82, 109, 109);
    
}

.bottom-container{
    text-align: center;
    display: block;
    
}
img{
    width: 50%;
    margin-top: 20px;
    border-radius: 5px;
}
a.link{
    display: inline-block;
    color: lightcyan;
    text-decoration: none;
    margin:15px;
    padding: 10px 20px;
    background-color: #111b2e;
    border-radius: 5px;
    transition: tranform 0.4s, background-color 0.3s ease;
    border:2px solid;
    font-weight: bold;
    border-color: rgb(82, 109, 109);
}
a.link:hover {
    background-color: #3c5c73;
    transform: translateY(-3px);
}

p{
    margin-top:0;
    margin-bottom: 20px;;
}