body{
    margin:0;
    background-color:#0b1220 ;
    color:lightgray;
    font-family:cursive;
    font-size: small;
}
.container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
}
.bio{
    background-color: #111b2e;
    max-width: 700px;
    padding:30px;
    border-radius: 10px;
    margin: 30px 0;
    border: 1px solid;
    border-color: lightcyan;

}

.bottom-container{
    text-align: center;
    display: block;
    
}
img{
    width: 25%;
    margin-top: 20px;
    border-radius: 5px;
}
a.link{
    
    color: lightcyan;
    text-decoration: none;
    margin:5px;
    padding: 8px 15px;
    background-color: #111b2e;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
a.link:hover {
    background-color: #3c5c73;
}

p{
    margin-top:0;
    margin-bottom: 20px;;
}